node_modules

# Linux
.*
!.gitignore
*~

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# VIM
*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
